/* FONTS */
@font-face {
  font-family: Josefin;
  src: url(../assets/Josefin.ttf) format(truetype);
}

@font-face {
  font-family: Montserrat;
  src: url(../assets/Montserrat.ttf) format(truetype);
}

@font-face {
  font-family: Poppins;
  src: url(../assets/Poppins.ttf) format(truetype);
}

@font-face {
  font-family: Raleway;
  src: url(../assets/Raleway.ttf) format(truetype);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg);
}

.app {
  font-family: Poppins;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 0 0.5rem;
  overflow: hidden;
}
