/* HEADER */
.header {
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.header_bg {
  width: 100%;
  height: 4.5rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--clear-bg);
  z-index: -1;
}

.header > h1 {
  font-family: Raleway;
  font-weight: 800;
  font-size: 1.2rem;
  color: var(--dark-text);
}

.header_theme {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header_theme > img {
  width: 1rem;
}

.header_theme > p {
  font-size: 0.9rem;
  color: var(--dark-text);
}

/* HOVER */
@media (hover: hover) {
  .header > h1:hover,
  .header_theme:hover {
    cursor: pointer;
    animation: shake 0.82s linear both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
  }
}

/* ANIMATION */
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}
